body {
}

a:hover {
    background-color: aqua;
}

ol li:first-child {
    font-family: Arial, Helvetica, sans-serif;
}

ol li:last-child {
    font-size: 20px;
}
tr:nth-child(odd) {
    background-color: lavender;
}

tr:nth-child(even) {
    background-color: chartreuse;
}

tr:nth-child(3) {
    background-color: black;
    color: white;
}

tr:nth-child(2n+1) {
    font-size: 50px;
}
tr:nth-last-child(2n+1) {
color:red;

}
